################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Sprint4/v17/DocumentLayout.json
/.vs/Sprint4/v17/.wsuo
