@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Hill Air Force Base RV Park site is only available to those who have access to the park.
    Please do not share accounts and links publicly.
</p>
